spring:
  application:
    name: cheongpodo
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    show-sql: true
    hibernate:
      ddl-auto: create
    generate-ddl: false
    properties:
      hibernate:
        format_sql: true
        show_sql: true
  data:
    redis:
      host: redis
      port: 6379

kakao:
  secret-key: 
google:
  api:
    key:

jwt:
  secret:
  expirationMs: 86400000

  #Email 인증
  mail:
    host: smtp.gmail.com
    port: 587
    username: "miriyouth63@gmail.com"
    password: "lhjm umqa buzo asho"
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
          ssl.enable: false  # 이 부분 추가 (SSL 비활성화)
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000
    auth-code-expiration-millis: 1800000  # 30 * 60 * 1000 == 30?

